/* Styles go here */

.page-headernew {
    position: fixed;
    top: 26mm;
    width: 100%;
    bottom:20mm;
    /*border-bottom: 1px solid black;*/ /* for demo */
    /*background: yellow;*/ /* for demo */
}
.page-header, .page-header-space {
    height: 130px;
}

.page-footer, .page-footer-space {
    height: 108px;
}
/*
.page-headernew, p {
    text-transform: uppercase;
}*/

.page-footer {
    position: fixed;
    bottom: 0mm;
    width: 100%;
    /*border-top: 1px solid black;*/ /* for demo */
     /*background: yellow;*/  /*for demo */
}
img {
    max-width:100%;
}
.page-header {
    position: fixed;
    top: 0mm;
    width: 100%;
    /*border-bottom: 1px solid black;*/ /* for demo */
    /*background: yellow;*/ /* for demo */  
}
.tspace {
  /* margin-top:120px;*/
}
.page {
    /*page-break-after: always;*/
    line-height: 2;
    padding: 0cm 1cm 1cm 1.5cm;
}

@page {
    margin: 1mm
}

@media print {
    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }

    button {
        display: none;
    }

    body {
        margin: 0;
    }
}
